    <html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/leftmenu-layout">
      <head>
        <title>Page Title</title>
	   </head>
	   <body>		
        <div layout:fragment="content" class="panel">
        	<h1 th:text="#{title.main}" class="panel-title">Health Canada Food Branch Applications</h1>
          <div th:text="#{page.welcome}">Welcome</div>
          <div th:text="#{page.something}">The application is under developing...</div>
        </div>      
      </body>
    </html>
