<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/leftmenu-layout">
<head>
    <title th:text="#{title.loadXmlStylesheet}">test</title>
    <script type="text/javascript" th:src="@{/js/lib/angular.js}" />
</head>
<body>
    <div layout:fragment="content" class="panel">
        <h1 th:text="#{title.loadXmlStylesheet}" class="panel-title">Load Business Rule</h1>
        <div th:if="${message}">
            <h5 th:text="${message}"/>
        </div>
        <div class="wb-frmvld" >
            <form method="POST" enctype="multipart/form-data" th:action="@{/admin/loadStylesheet}" th:object="${userFile}" id="form">
                <table style="margin-top:5px;">
                    <tr><td th:text="#{label.styelsheet.version}"></td><td><input type="text" th:field="*{version}" id="version" required="required" th:onchange="'javascript:onVersionChange(this, event);'"/></td></tr>
                    <tr><td colspan="2"><input type="file" th:field="*{file}" id="file" required="required"/></td></tr>
                    <tr><td>&nbsp;</td><td><button type="submit" name="loadFile" th:text="#{button.loadStylesheet}" class="btn btn-default"  style="margin-top:3px; min-height:28px !important; padding:2px 5px 2px 5px;">Render XML</button></td></tr>
                </table>
            </form>
        </div>
        <div id="waiting" style="display:none;">
        	<img id="loading-image" height="30px" width="30px" style="position:relative;left:90px;top:-30px;" th:src="@{../images/loading.gif}" th:alt="#{msg.validating}" />
        	
        </div>
         <div>
         	<section>
         	<fieldset>
         	<legend><h3 th:text="#{page.current.stylesheet}"></h3></legend>
            <ul id="filelist">
            </ul>
            </fieldset>
            </section>
        </div>


     </div>


<script type="text/javascript" data-th-src="@{/js/custom.js}"></script>
</body>
</html>