<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/leftmenu-layout">
<head>
    <title th:text="#{title.loadXmlStylesheet}">test</title>
    <script type="text/javascript" th:src="@{/js/lib/angular.js}" />
	<link rel="stylesheet" href="/css/jquery.fileupload.css" />
</head>
<body>
    <div layout:fragment="content" class="panel">
        <h1 th:text="#{title.loadXmlStylesheet}" class="panel-title">Load Business Rule</h1>
		<div id="container">
			<div class="row">
				<div class="col-xs-12">
					<label th:text="#{label.styelsheet.version}"></label>
					<span>
						<input type="text" id="version" required="required" th:onchange="'javascript:onChange(this, event);'"/>
					</span>
				</div>
			</div>
			<span class="btn btn-success fileinput-button">
		        <i class="glyphicon glyphicon-plus"></i>
		        <span th:text="#{label.selectFiles}">Select files...</span>
		        <!-- The file input field used as target for the file upload widget -->
		        <input id="fileupload" type="file" name="files" th:multiple="${true}" />
		    </span>
		    <br />
		    <br />
		    <fieldset>
		    	<legend th:text="#{label.uploaded.files}"></legend>
			    <div id="files" class="col-xs-12">
			    </div>
		    </fieldset>
         <div>
         	<section>
	         	<fieldset>
		         	<legend><h3 th:text="#{page.current.stylesheet}"></h3></legend>
		            <ul id="filelist">
		            </ul>
	            </fieldset>
            </section>
        </div>
		</div>
     </div>


	<th:block layout:fragment="script">
		<script th:src="@{https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_26/js/jquery/2.1.4/jquery.min.js}"></script>
		<script th:src="@{https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_26/js/wet-boew.min.js}"></script>
		<script th:src="@{https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_26/js/theme.min.js}"></script>
		<script th:src="@{/js/widget.js}"></script>
		<script th:src="@{/js/jquery.iframe-transport.js}"></script>
		<script th:src="@{/js/jquery.fileupload.js}"></script>
		<script th:src="@{/js/custom.js}"></script>
		<script data-th-inline="javascript">
		/*<![CDATA[*/
		function onChange(element, e){
			 $('#fileupload').fileupload({
			        url: '/admin/loadStylesheet?version=' + $("#version").val()
			 });
			$('#filelist').empty();
			$.getJSON("/admin/stylesheet/" + $(element).val(), function(data, status) {
					if(data != null && data.length > 0){
						$.each(data, function(index, value){
							$('#filelist').append('<li><a href=' + value + '>' + value + '</a></li>');
						});
					}
				});
		}
		jQuery().ready(function(){
		    	$(function () {
		    	    'use strict';
		    	    // Change this to the location of your server-side upload handler:
		    	    var url = '/admin/loadStylesheet?version=';
		    	    $('#fileupload').fileupload({
		    	        url: url,
		    	        dataType: 'text',
		    	    	done: function (e, data) {
		   	                $('<p/>').text(data.jqXHR.responseText).appendTo('#files');
		    	        },
		    	        fail: function(e, data){
		    	        	result = $.parseJSON(data.jqXHR.responseText);
		    	        	if(result.status == '40'){
		    	        		 $('<p/>').text(result.error + ':' + result.path).appendTo('#files');
		    	        	} else if(result.status == '401'){
		        	        	window.location.href="/login"
		    	        	} else if (result.status == '405'){
		    	        		 $('<p/>').text(result.error + ':' + result.path).appendTo('#files');
		    	        	} else if (result.status == '500'){
		    	        		 $('<p/>').text(result.message).appendTo('#files');
		    	        	} else {
		    	        		window.location.href="/"
		    	        	}
		    	    	}
		    	    }).prop('disabled', !$.support.fileInput)
		    	        .parent().addClass($.support.fileInput ? undefined : 'disabled');
		    	});
		    });
			/*]]>*/
			</script>

	</th:block>
</body>
</html>