<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/leftmenu-layout">
<head>
    <title>test</title>
</head>
<body>
    <div layout:fragment="content" class="panel">
        <h1 th:text="#{title.renderXml}" class="panel-title">Validation XML File</h1>
        <div th:if="${message}">
            <h5 th:text="${message}"/>
        </div>
        <div class="wb-frmvld" >
            <form method="POST" enctype="multipart/form-data" th:action="@{/renderXML}" th:object="${userFile}" id="validation">
                <table style="margin-top:5px;">
                    <tr><td><input type="file" th:field="*{file}" id="file" required="required" class="fileinput"/></td></tr>
                    <tr><td><button type="submit" name="loadFile" th:text="#{button.renderXml}" class="btn btn-default" th:onclick="${'jQuery(''#waiting'').show(); jQuery(this).html(''Rendering''); this.form.submit(); this.disabled=true;return false;'}" style="margin-top:3px; min-height:28px !important; padding:2px 5px 2px 5px;">Render XML</button></td></tr>
                </table>
            </form>
        </div>
        <div id="waiting" style="display:none;">
        	<img id="loading-image" height="30px" width="30px" style="position:relative;left:90px;top:-30px;" th:src="@{/loading.gif}" th:alt="#{msg.validating}" />
        	
        </div>

     </div>



</body>
</html>